# Server
PORT=3000

# MongoDB
MONGO_URI=mongodb://username:password123@mongo:27017/notificationsdb?authSource=admin

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:19092
KAFKA_CLIENT_ID=posts-service
KAFKA_GROUP_ID=posts-service-group

# Topics
POST_CREATED_TOPIC=post.created
 